# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore executables
*.exe

# Ignore Java compiled files
*.class

# Ignore backup files
*~

# Ignore IDE folders
.vscode/
.idea/
.vs/

# Ignore screenshots and documents
*.png
*.jpg
*.jpeg
*.pdf
*.docx